/**
 * @name Thunder's Cleanup Theme
 * @author Thunder33345
 * @version 0.0.1
 * @description A personal discord theme
 * @source https://github.com/Thunder33345/userstyles
 * @website https://github.com/Thunder33345
*/
/* If you are reading this, you probably should use something else instead, these are rules personally hand crafted to alter the website to my own taste */
/* Rules here may come and go, there is no guarantee of anything, consider copying rules that you want instead of using this whole stylesheet as is*/
/* Also see: https://github.com/CroissantDuNord/discord-adblock */

/* I dont need stinking warning about what experiments is */
#vc-experiments-warning-card {
	display: none;
}

/* chat bar cleanup */
div > div[aria-label="Send a personalized Nitro gift to spread holiday cheer!"],
div > button[aria-label="Send a gift"] {
	display: none;
}

div > div > button[aria-label="Open GIF picker"] {
	display: none;
}

div > div > button[aria-label="Open sticker picker"] {
	display: none;
}

/* category gap reduction  */
:root {
	--custom-category-channel-space-before-category: 2px;
}

/* cleanup user right click context */
#user-context-call,
#user-context-invite-to-server,
#user-context-remove-friend,
#user-context-add-friend {
	display: none;
}

/* masked link hover warning */
[class*="anchor_"][class*="anchorUnderlineOnHover_"][title$=")"]:hover {
	color: indianred
}

/* Render masked links */
/* [class*="anchor_"][title$=")"]::after {
    font-size: 0.6rem;
    content: " (" attr(href) ")";
    filter: grayscale(0.4);
    text-overflow: ellipsis;
    max-width: 2px;
} */
/* remove CTA in thread list for empty threads */
[class*="replies_"]:has([class*="startTheConversation_"]) {
	display: none;
}

/* remove CTA in thread chat view for empty threads */
ol[class*="scrollerInner_"][data-list-id="chat-messages"] [class*="box_"]:has([class*="animation_"]) {
	display: none;
}

/* remove minor nitro upsell nag at chat input for count nearing limit */
div[class*="characterCount_"] div[class*="upsell"] {
	display: none;
}

/* remove major nitro upsell nag at chat input for count over character limit */
div[class*="characterCount_"] div[class*="messageLengthBrandedContainer_"] {
	display: none;
}
/* remove major nitro upsell nag: upsell divider  */
div[class*="characterCount_"] div[class*="divider_"] {
	display: none;
}
/* remove major nitro upsell nag: upsell button  */
div[class*="characterCount_"] div[class*="messageLengthBrandedContainer_"]+button {
	display: none;
}

/* remove green nitro cta button at upload as text prompt */
div[aria-label="Your message is too long..."][role="dialog"][class*="focusLock_"] div[class*="content_"] div[class*=gradientUpsellWrapper_] {
    display: none;
}
/* remove subscribe button from upload text as file prompt */
div[aria-label="Your message is too long..."][role="dialog"][class*=focusLock] div[class*=primaryActions_] button[class*=shinyButton]:has(div svg[class*=premiumIcon_]) {
	display: none;
}

/* remove activities prompt in voice channel */
div[class*="row"]:has(div[class*=tile_] div[class*=outer_][class*=tileSizer_] div[class*=inner_] div[class*=root] img[alt="characters playing a game"]) {
	display: none;
}

/* hides home shop button */
/* hotfix: couldnt hide the shop hover effect */
ul[role="list"][aria-label="Direct Messages"] div[class*="interactive_"] a[href="/shop"] {
    display: none
}

/* hides home shop new badge */
/* a[href="/shop"] div[class*="textBadge_"] {
    display: none
} */

/* hides home nitro button */
/* hotfix: too lazy to remove the "new features" nag popups so just nuke the whole thing instead*/
ul[role="list"][aria-label="Direct Messages"] div[class*="interactive_"] a[href="/store"] {
    display: none
}

/* not so new: remove "new" badge on channels */
#channels > ul  > li[class*="containerDefault_"] > div a[role=link] div[class^="children_"] > div[class^=channelInfo] > div[class^="newChannel_"] {
 display: none !important;
}

/* who needs help?  */
div[class*=toolbar_] a:has(div[aria-label="Help"]) {
    display: none;
}

/* unbold bot/system/webhook/clan tags */
/* no need to shove it in my face */
span[class^=botText], span[class^=unselectable] {
  font-size: unset !important;
  font-weight: 500 !important;
}

/* stop plastering my activities palette with ads */
section[class*="positionContainer_"][aria-label="Application Launcher"][role="dialog"] > 
[class*="drawerSizingWrapper_"] > [class*="contentWrapper_"] 
[class*="container_"] > [class*="scrollableContent_"] > div > div:nth-child(n+3) {
    display: none
}

/* Undiscover servers */
nav[aria-label="Servers sidebar"] ul div[class*=footer_] {
    display: none;
}

/* remove new channel badge on channel browser */
div[class*=newChannel_][class*=textBadge_] {
    display: none;
}
